<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="30">
    <properties>
        <property name="LOG_HOME">D:/SpringBoot_logs</property>
        <property name="FILE_NAME">SpringBoot</property>
    </properties>
    <Appenders>
        <!--#控制台-->
        <Console name="Console" target="SYSTEM_OUT">
            <!--<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />-->
             <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
            <!-- <PatternLayout pattern="%-d [%t] %-5p %c{1}:%L - %m%n" /> -->
        </Console>
        <!--#文件-->
        <RollingFile  name="app_debug" fileName="${LOG_HOME}/debug/${FILE_NAME}-debug.log" filePattern="${LOG_HOME}/info/${FILE_NAME}-debug-%i.log">
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss z} %-5level %class{36}.%M()/%L - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="3M" />
            <DefaultRolloverStrategy max="10"/>
        </RollingFile >
        <RollingFile  name="app_info" fileName="${LOG_HOME}/info/${FILE_NAME}-info.log" filePattern="${LOG_HOME}/info/${FILE_NAME}-info-%i.log">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss z} %-5level %class{36}.%M()/%L - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="3M" />
            <DefaultRolloverStrategy max="10"/>
        </RollingFile >
        <RollingFile name="app_warn" fileName="${LOG_HOME}/warn/${FILE_NAME}-warn.log" filePattern="${LOG_HOME}/warn/${FILE_NAME}-warn-%i.log">
            <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss z} %-5level %class{36}.%M()/%L - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="3M" />
            <DefaultRolloverStrategy max="10"/>
        </RollingFile >
        <RollingFile  name="app_error" fileName="${LOG_HOME}/error/${FILE_NAME}-error.log" filePattern="${LOG_HOME}/error/${FILE_NAME}-error-%i.log">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss z} %-5level %class{36}.%M()/%L - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="3M" />
            <DefaultRolloverStrategy max="10"/>
        </RollingFile >
    </Appenders>
    <Loggers>
        <Logger name="org.apache.log4j.xml" level="INFO"/>
        <Logger name="org.springframework" level="ERROR"/>
        <Logger name="com.mybatis" level="WARN"/>
        <Logger name="org.mybatis.spring.mapper" level="WARN"/>
        <Logger name="java.sql" level="DEBUG"/>
        <Logger name="org.thymeleaf" level="WARN"/>
        <Logger name="org.hibernate" level="WARN"/>
        <Logger name="org.apache.velocity" level="WARN"/>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="app_debug" />
            <AppenderRef ref="app_info" />
            <AppenderRef ref="app_warn" />
            <AppenderRef ref="app_error" />
        </Root>
    </Loggers>
</Configuration>

