<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.base.BaseMapper">
    <select id="loadModeForAll" parameterType="Object" resultType="Map">
        ${sql}
    </select>
    <select id="loadModeForList" parameterType="Object" resultType="Map">
        ${sql}
    </select>
    <select id="loadModeForCount" parameterType="Object" resultType="Map">
        ${sql}
    </select>
    <select id="loadModeForOne" parameterType="Object" resultType="Map">
        ${sql}
    </select>
    <insert id="addModeForOne" parameterType="Object" keyProperty="id" useGeneratedKeys="true">
        ${sql}
    </insert>
    <insert id="addModeForBatch" parameterType="Object">
        ${sql}
    </insert>
    <delete id="delModeForOne" parameterType="Object">
        ${sql}
    </delete>
    <delete id="delModeForBatch" parameterType="Object">
        #{sql}
    </delete>
    <update id="updateModeForOne" parameterType="Object">
        ${sql}
    </update>
    <update id="updateModeForBatch" parameterType="Object">
        #{sql}
    </update>
</mapper>