<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"><![endif]-->
<!--[if !IE]><!--><html lang="en" xmlns:th="http://www.thymeleaf.org" ><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>My 主页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="My Intenet" name="description"/>
    <meta content="Lele" name="author"/>

    <link th:href="${basePath}+'assets/global/plugins/font-awesome/css/font-awesome.min.css'" rel="stylesheet" type="text/css" />
    <link th:href="${basePath}+'assets/global/plugins/simple-line-icons/simple-line-icons.min.css'" rel="stylesheet" type="text/css" />
    <link th:href="${basePath}+'assets/global/plugins/bootstrap/css/bootstrap.min.css'" rel="stylesheet" type="text/css" />
    <link th:href="${basePath}+'assets/global/plugins/uniform/css/uniform.default.css'" rel="stylesheet" type="text/css" />
    <link th:href="${basePath}+'assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css'" rel="stylesheet" type="text/css" />
    <link th:href="${basePath}+'assets/global/plugins/select2/css/select2.min.css'" rel="stylesheet" type="text/css" />
    <link th:href="${basePath}+'assets/global/plugins/select2/css/select2-bootstrap.min.css'" rel="stylesheet" type="text/css" />
    <link th:href="${basePath}+'assets/global/css/fonts.css'" rel="stylesheet" type="text/css" />
    <link th:href="${basePath}+'assets/global/css/components-rounded.min.css'" rel="stylesheet" id="style_components" type="text/css" />
    <link th:href="${basePath}+'assets/global/css/plugins.min.css'" rel="stylesheet" type="text/css" />
    <link th:href="${basePath}+'assets/pages/css/login.min.css'" rel="stylesheet" type="text/css" />
    <link th:href="${basePath}+'assets/pages/css/coming-soon.min.css'" rel="stylesheet" type="text/css" />
</head>
<body class="login">
<div class="menu-toggler sidebar-toggler"></div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div class="logo">
    <!--<a href="index.html">-->
        <!--<img th:src="${basePath}+'assets/pages/img/logo-big.png'" alt="" />-->
        <h3 class="form-title font-green">我的世界，我的数据</h3>
    <!--</a>-->
</div>
<div class="content">
    <form class="login-form" action="index.html" method="post">
        <h3 class="form-title font-green">Sign In</h3>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span> 请填写你的用户名或者密码. </span>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">用户名</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="用户名" name="username" /> </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">密码</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="密码" name="password" /> </div>
        <div class="form-actions">
            <button type="submit" class="btn green uppercase">登陆</button>
            <label class="rememberme check">
                <input type="checkbox" name="remember" value="1" />记住我 </label>
            <a href="javascript:;" id="forget-password" class="forget-password form-title font-green">忘记密码?</a>
        </div>
        <div class="login-options">
            <h4>通过别的方式登陆-->>></h4>
            <ul class="social-icons">
                <li>
                    <a class="social-icon-color facebook" data-original-title="facebook" href="javascript:;"></a>
                </li>
                <li>
                    <a class="social-icon-color twitter" data-original-title="Twitter" href="javascript:;"></a>
                </li>
                <li>
                    <a class="social-icon-color googleplus" data-original-title="Goole Plus" href="javascript:;"></a>
                </li>
                <li>
                    <a class="social-icon-color linkedin" data-original-title="Linkedin" href="javascript:;"></a>
                </li>
            </ul>
        </div>
        <div class="create-account">
            <p>
                <a href="javascript:;" id="register-btn" class="uppercase">创建用户</a>
            </p>
        </div>
    </form>
    <form class="forget-form" action="index.html" method="post">
        <h3 class="font-green">忘记密码</h3>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span> 请填写你的邮箱去重置密码 </span>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">密码</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="邮箱" name="email" /> </div>
        <div class="form-actions">
            <button type="button" id="back-btn" class="btn btn-default">返回</button>
            <button type="submit" class="btn green uppercase pull-right">提交</button>
        </div>
    </form>
    <form class="register-form" action="index.html" method="post">
        <h3 class="font-green">注册</h3>
        <p class="hint">填入你的个人信息: </p>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">全名</label>
            <input class="form-control placeholder-no-fix" type="text" placeholder="名字" name="fullname" /> </div>
        <!--<div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Email</label>
            <input class="form-control placeholder-no-fix" type="text" placeholder="Email" name="email" /> </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Address</label>
            <input class="form-control placeholder-no-fix" type="text" placeholder="Address" name="address" /> </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">City/Town</label>
            <input class="form-control placeholder-no-fix" type="text" placeholder="City/Town" name="city" /> </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Country</label>
            <select name="country" class="form-control">
                <option value="">Country</option>
                <option value="ZW">Zimbabwe</option>
            </select>
        </div>-->
        <p class="hint">请填写你的账户信息: </p>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">用户名</label>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="账户" name="username" /> </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">密码</label>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="密码" name="password" /> </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">确认密码</label>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="确认密码" name="rpassword" /> </div>
        <div class="form-group margin-top-20 margin-bottom-20">
            <div id="register_tnc_error"> </div>
        </div>
        <div class="form-actions">
            <button type="button" id="register-back-btn" class="btn btn-default">返回</button>
            <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">提交</button>
        </div>
    </form>
</div>
<div class="copyright"> 2016 © hefule. Admin Back. </div>
<!--[if lt IE 9]>
<script th:src="${basePath}+'assets/global/plugins/respond.min.js'" type="text/javascript"></script>
<script th:src="${basePath}+'assets/global/plugins/excanvas.min.js'" type="text/javascript"></script>
<![endif]-->

<script th:src="${basePath}+'assets/global/plugins/jquery.min.js'" type="text/javascript"></script>
<script th:src="${basePath}+'assets/global/plugins/bootstrap/js/bootstrap.min.js'" type="text/javascript"></script>
<script th:src="${basePath}+'assets/global/plugins/js.cookie.min.js'" type="text/javascript"></script>
<script th:src="${basePath}+'assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js'" type="text/javascript"></script>
<script th:src="${basePath}+'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js'" type="text/javascript"></script>
<script th:src="${basePath}+'assets/global/plugins/jquery.blockui.min.js'" type="text/javascript"></script>
<script th:src="${basePath}+'assets/global/plugins/uniform/jquery.uniform.min.js'" type="text/javascript"></script>
<script th:src="${basePath}+'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js'" type="text/javascript"></script>
<script th:src="${basePath}+'assets/global/plugins/jquery-validation/js/jquery.validate.min.js'" type="text/javascript"></script>
<script th:src="${basePath}+'assets/global/plugins/jquery-validation/js/additional-methods.min.js'" type="text/javascript"></script>
<script th:src="${basePath}+'assets/global/plugins/select2/js/select2.full.min.js'" type="text/javascript"></script>
<script th:src="${basePath}+'assets/global/scripts/app.min.js'" type="text/javascript"></script>
<script th:src="${basePath}+'assets/pages/scripts/login.min.js'" type="text/javascript"></script>
<script th:src="${basePath}+'assets/global/plugins/countdown/jquery.countdown.min.js'" type="text/javascript"></script>
<script th:src="${basePath}+'assets/global/plugins/backstretch/jquery.backstretch.min.js'" type="text/javascript"></script>
<script th:src="${basePath}+'assets/pages/scripts/coming-soon.min.js'" type="text/javascript"></script>

<script type="text/javascript">
    $(".forget-form").submit(function(){
        $(this).validate();
    });
</script>
</body>
</html>